body {
  background-color: #23355b;
  font-size: 32px;
  color: #9daccb;

}

#login_form {
  /* position: absolute; */
  color: #9daccb;
  margin: auto;
  width: 404px;
  height: 115px;

  padding-top: 10%;
  text-align: left;
  font-size: 32px;
}

#login_submit {
  font-size: 24px;
  border: none;
  color: #9daccb;
  background-color: #23356b;
}

#login_submit:hover {
  background-color: #1d2c4c;
  transition: 0.4s;

}

.login_form_inputs {
  /* height: 30px; */
  margin: auto;
  left: 500px;
  font-size: 25px;
}

.kevyt_para {
  margin: 7px;
}
