body {
  background-color: #23355b;
  font-size: 32px;
  color: #9daccb;

}

#login_form {
  /* position: absolute; */
  color: #9daccb;
  margin: auto;
  width: 10%;
  height: 20%;
  padding: 200px;
  text-align: left;
  font-size: 32px;
}

#login_submit {
  font-size: 24px;
  border: none;
  color: #9daccb;
  background-color: #1d2c4c;
}

.login_form_inputs {
  /* height: 30px; */
  margin: auto;
  font-size: 25px;
}

.kevyt_para {
  margin: 7px;
}
