<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/master.css">
    <title></title>
  </head>
  <body>
    <div id="login_form">
      <form action="login", method="POST">
        Käyttäjä-ID
        <input type="text", name="user_id", class="login_form_inputs"></input>
        <!-- <p></p>
        Salasana
        <input type="password" name="password", class="login_form_inputs"></input>
        <p></p> -->
        <input type="submit" value="Kirjaudu", id="login_submit"></input>
      </form>
    </div>

  </body>
</html>
